
<ion-header>

  <ion-navbar color="brownLike">
    <ion-title>{{animal.animal.animalName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-slides pager="true" effect="slide" zoom="true">
      <ion-slide *ngFor="let url of animal.animal.downloadUrls">    
        <img src={{url}} alt="kein Bild">
      </ion-slide>
  </ion-slides>

  <ion-list>
    <ion-item>
      <h2>Rasse: <h2>{{animal.animal.animalBreed  | seperator : animal.animal.animalBreed }}</h2></h2>
    </ion-item>
    <ion-item>
      <h2>Alter: {{animal.animal.animalAge}}</h2>
    </ion-item> 
    <ion-item no-lines>
      <h2>Beschreibung: 
        <div id="description">{{animal.animal.description}}</div>
      </h2>
    </ion-item>
    <div *ngFor="let user of userArray">

      <ion-item-divider *ngIf="hidePos" class="header" (click)="showPosition()">
          Standort
          <ion-icon item-end name="arrow-dropdown"></ion-icon>         
      </ion-item-divider>
      <ion-item-divider *ngIf="showPos" class="header" (click)="hidePosition()">
          Standort
          <ion-icon item-end name="arrow-dropup"></ion-icon>         
      </ion-item-divider>
      <ion-item *ngIf="!user.user.street && user.user.place">Kein Standort verfügbar</ion-item>
      <ion-item *ngIf="user.user.street && showPos">
        <h2>Straße: <h2>{{user.user.street}} {{user.user.nr}}</h2></h2>
      </ion-item>
      <ion-item no-lines *ngIf="user.user.place && user.user.plz && showPos">
        <h2>Ort: <h2>{{user.user.plz}} {{user.user.place}}</h2></h2>
      </ion-item>

      <button *ngIf="showPos" ion-button clear color="dark" (click)="showMaps()">Auf Karte anzeigen</button>

      <ion-item-divider *ngIf="hideU" class="header" (click)="showUser()">
          Anbieter
          <ion-icon item-end name="arrow-dropdown"></ion-icon>         
      </ion-item-divider>
      <ion-item-divider *ngIf="showU" class="header" (click)="hideUser()">
          Anbieter
          <ion-icon item-end name="arrow-dropup"></ion-icon>         
      </ion-item-divider> 

      <ion-item *ngIf="showU">
        <h2>Name: {{user.user.name}} {{user.user.lastName}}</h2>
      </ion-item>
      <ion-item *ngIf="user.user.company && showU">
        <h2>Unternehmen/ Verein: <h2>{{user.user.company}}</h2></h2>
      </ion-item>
      
      <ion-buttons>
        <button *ngIf="showU" ion-button clear item-end color="dark" (click)="showUserDetails(user, animal.animal.animalName)">anzeigen</button>
        <button *ngIf="showU" ion-button clear color="dark">kontaktieren</button> 
      </ion-buttons> 
    </div>   
  </ion-list>
  <div>
    <ion-buttons text-center>
      <button ion-button full color="lGrey">
        merken
      </button>
    </ion-buttons>
  </div>
</ion-content>
