page-login {
    /*
    button{
        width: 23vh;
        height: 7vh; 
    }*/

    ion-card{
        color: grey; 
    }

    .logo{
        margin: 0auto;
        display: block;
    }
    
    #helpButton{
        left: 0px !important;
    }

    ion-card ion-row{
        padding: 10px;
        float: center;
    }
}
