
<ion-header>

  <ion-navbar color="brownLike">
    <ion-title>{{user.user.name}} {{user.user.lastName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
      <ion-item *ngIf="user.user.company">
        <h2>Unternehmen/ Verein: <h2>{{user.user.company}}</h2></h2>
      </ion-item>
      <ion-item-divider class="header">
        Kontakt
      </ion-item-divider>
      <ion-item>
        <h2>Email: <h2><button ion-button clear (click)="mailto(user.user.email)">{{user.user.email}}</button></h2></h2>
      </ion-item>
      <ion-item *ngIf="user.user.phone">
        <h2>Telefon: <h2><button ion-button clear (click)="call(user.user.phone)">{{user.user.phone}}</button></h2></h2>
      </ion-item>
      <ion-item-divider class="header" *ngIf="user.user.street || user.user.plz">
        Standort
      </ion-item-divider>
      <ion-item *ngIf="user.user.street">
        <h2>Staße: <h2>{{user.user.street}} {{user.user.nr}}</h2></h2>
      </ion-item>
      <ion-item *ngIf="user.user.plz && user.user.place" >
        <h2>Ort: <h2>{{user.user.plz}} {{user.user.place}}</h2></h2>
      </ion-item>
      <button ion-button clear color="dark" (click)="showMaps()">Auf Karte anzeigen</button>
  </ion-list>

</ion-content>
