<ion-header id="header" class="showHeader">
  <!--<ion-navbar color="brownLike">
    <ion-buttons end>
      <button ion-button icon-only clear="true" color="light" (click)="presentPopover($event)">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar> -->
    <ion-toolbar color="brownLike">
      <ion-segment color="primary" [(ngModel)]="tabs">
        <ion-segment-button (click)="selectTab(0)" value="0"><ion-icon name="home" color="light"></ion-icon></ion-segment-button>
        <ion-segment-button (click)="selectTab(1)" value="1"><ion-icon name="person" color="light"></ion-icon></ion-segment-button>
        <ion-segment-button (click)="selectTab(2)" value="2"><ion-icon name="chatboxes" color="light"></ion-icon></ion-segment-button>
        <ion-segment-button (click)="selectTab(3)" value="3"><ion-icon name="settings" color="light"></ion-icon></ion-segment-button>
        <ion-segment-button (click)="selectTab(4)" value="4"><ion-icon name="search" color="light"></ion-icon></ion-segment-button>     
      </ion-segment>
    </ion-toolbar> 
</ion-header>

<ion-content id="content">
    <ion-slides #pageSlider (ionSlideWillChange)="changeWillSlide($event)" class="bigSlide">
      <ion-slide >
        <ion-scroll id="scroll" class="smallList" scrollY="true">
          <ion-list>
          
            <ion-card *ngFor="let animal of animalArray" (click)="showDetails(animal)">
            <ion-thumbnail item-start *ngIf="animal.animal.downloadUrls">
              <img src={{animal.animal.downloadUrls[0]}} alt="kein Bild">
            </ion-thumbnail>
            <ion-card-content>
              <ion-card-title>
                {{animal.animal.animalName}}
              </ion-card-title>
              <p>
                {{animal.animal.animalBreed | seperator : animal.animal.animalBreed }}
              </p>
            </ion-card-content>
          </ion-card>

            <!--<button ion-item *ngFor="let animal of animalArray" (click)="showDetails(animal)">       
              <ion-thumbnail item-start *ngIf="animal.animal.downloadUrls">
                <img src={{animal.animal.downloadUrls[0]}} alt="kein Bild">
              </ion-thumbnail>
              <ion-thumbnail item-start *ngIf="!animal.animal.downloadUrls">
                <img src="assets/img/haase.png" alt="kein Bild">
              </ion-thumbnail>
              <h2>{{animal.animal.animalName}}</h2>
              <p>Rasse: {{animal.animal.animalBreed | seperator : animal.animal.animalBreed }}</p>
              <p>Alter: {{animal.animal.animalAge}} Jahre</p>      
            </button>-->
          </ion-list>
        </ion-scroll>
      </ion-slide>
     
      <ion-slide>
        <ion-scroll id="list" class="smallList" scrollY="true">

          <ion-row>
            <ion-col col-6>
              <ion-card class="card" (click)="openPage('MyEntrysPage')">
                <ion-card-header>
                  Meine Einträge
                </ion-card-header>
                <ion-card-content>
                  {{myEntryArrayLength}}
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col col-6>
              <ion-card class="card" (click)="openPage('myFavouritesPage')">
                <ion-card-header>
                  Meine Favouriten
                </ion-card-header>
                <ion-card-content>
                  Placeholder
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-card *ngFor="let user of user">
            <ion-card-header>
              {{user.user.name}} {{user.user.lastName}}
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item-divider *ngIf="user.user.company">
                    Firma/ Verein
                </ion-item-divider>
                <ion-item *ngIf="user.user.company">
                  {{user.user.company}}
                </ion-item>
                <ion-item-divider>
                  Kontakt
                </ion-item-divider>
                <ion-item>
                  {{user.user.email}}
                </ion-item>
                <ion-item *ngIf="user.user.phone">
                  {{user.user.phone}}
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-scroll> 
        <ion-buttons end class="btnPos">
          <button ion-fab color="sGreen"  (click)="addAnimal()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>
      </ion-slide>
      
      <ion-slide>
        <h1>Messages</h1>
      </ion-slide>

      <ion-slide>
        <h1>Settings</h1>
        <ion-buttons>
          <button ion-button icon-only clear (click)="logout()">
            <ion-icon name="log-out"></ion-icon>
          </button>
        </ion-buttons>
      </ion-slide>

      <ion-slide>
        <ion-list scroll="false">
          <!--<ion-item>
            <ion-label floating>Tierart</ion-label>
            <ion-input type="text" [(ngModel)]="animalSpecies" autocomplete="on" autocorrect="on"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Rasse</ion-label>
            <ion-input type="text" [(ngModel)]="animalBreed" autocomplete="on" autocorrect="on"></ion-input>
          </ion-item>-->

          <ion-item class="item">
            <ion-label>Tierart</ion-label>
            <ion-select [(ngModel)]="species" (ionChange)="onSelectChange()">
              <ion-option *ngFor="let species of speciesArray" value={{species}}>{{species}}</ion-option>
            </ion-select>    
          </ion-item>
          <ion-item class="item">
            <ion-label>Rasse</ion-label>
            <ion-select [(ngModel)]="breed" multiple="true">
              <ion-option *ngFor="let breed of breedArray" value={{breed}}>{{breed}}</ion-option>
            </ion-select>    
          </ion-item> 
          <ion-item class="name-item">
            <ion-label floating>Name</ion-label>
            <ion-input type="text" [(ngModel)]="animalName" autocomplete="on" autocorrect="on"></ion-input>
          </ion-item>
          <ion-buttons>
              <button ion-button full color="brownLike" (click)="search()">suchen</button>
              <button ion-button full color="brownLike" (click)="cancel()">abbrechen</button>
          </ion-buttons>
        </ion-list>
      </ion-slide>
    </ion-slides>
</ion-content>
