page-home {

    .btnPos {
        position: fixed;
        bottom: 15px;
        right: 15px;    
      }
    .btnStyle {
        height: 50px;
        width: 50px;
        border-radius: 50% !important;
    }
}
