page-home {

    .btnPos {
        position: fixed;
        bottom: 15px;
        right: 15px;    
      }
    .btnStyle {
        height: 50px;
        width: 50px;
        border-radius: 50% !important;
    }
    ion-searchbar {
        margin: 0 auto;
        position: absolute;
        top: 0px;
        left: 0%;
        right: 0%;
        //padding: 0 90px 1px;
        width: 65%;
        height: 100%;
        text-align: center;
    }
}
