page-google-maps {
    #floating-panel {
        width: 100%;
        margin-top: 0px !important;

        position: absolute;  
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        line-height: 30px;
        padding-left: 10px;
      }
      #map {
        height: 100%;
      }

      #button{
        margin-bottom: 0px !important;
      }

      .upMove{
        top: -140px;
        transition: top 0.2s ease-in-out;
        position: fixed;
      }

      .downMove{ 
        top: 0px;
        transition: bottom 0.2s ease-in-out;
        position: fixed;
      }
}
