
<ion-header>

  <ion-navbar color="brownLike">
    <ion-title>Mein Tier vermitteln</ion-title>
    <ion-buttons end>
      <button ion-button clear="true" (click)="addAnimal(animal)">Speichern</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-slides pager="true" effect="slide" zoom="true" *ngIf="haveImage">
    <ion-slide *ngFor="let image of imageArray">
      <img [src]="_DomSanitizer.bypassSecurityTrustUrl(image)" alt="kein Bild"/>
    </ion-slide>
  </ion-slides>
  
  <label class="uploader" *ngIf="noImage" (click)="showAddButton()">                   
    <ion-icon name="add" *ngIf="!showButton"></ion-icon>
    <ion-fab center *ngIf="showButton">
      <button ion-fab color="brownLike">Foto</button>
      <ion-fab-list side="right">
        <button ion-fab icon-only color="lGrey" (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-fab-list>
      <ion-fab-list side="left">
        <button ion-fab icon-only color="lGrey" (click)="getPicture()">
          <ion-icon name="images"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>    
  </label>
  
  <ion-list>
    <ion-item>
      <ion-label floating>Name*</ion-label>
      <ion-input type="text" [(ngModel)]="animal.animalName" autocomplete="on" autocorrect="on"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label floating>Alter*</ion-label>
      <ion-input type="number" [(ngModel)]="animal.animalAge"></ion-input>
    </ion-item>
    <!--<ion-item>
      <rl-tag-input
        [(ngModel)]="species"
        [addOnBlur]="false"
        [autocomplete]="true"
        [autocompleteItems]="preparedTags"
        placeholder="Tierart"
        autocomplete="on" autocorrect="on">
      </rl-tag-input>
    </ion-item>
    <ion-item>
      <rl-tag-input
        [(ngModel)]="breed"
        [addOnBlur]="false"
        placeholder="Rasse"
        autocomplete="on" autocorrect="on">
      </rl-tag-input>
    </ion-item>-->
    <ion-item>
      <ion-label>Tierart*</ion-label>
      <ion-select [(ngModel)]="animal.animalSpecies" (ionChange)="onSelectChange(animal)">
        <ion-option *ngFor="let species of speciesArray" value={{species}}>{{species}}</ion-option>
      </ion-select>    
    </ion-item>
    
    <ion-item>
      <ion-label>Rasse</ion-label>
      <ion-select [(ngModel)]="tmpBreed" multiple="true">
          <ion-searchbar
          [(ngModel)]="myInput"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="onInput($event)"
          (ionCancel)="onCancel($event)">
        </ion-searchbar>
        <ion-option *ngFor="let breed of breedArray" value={{breed}}>{{breed}}</ion-option>
      </ion-select>    
    </ion-item>
    <ion-item>
      <ion-label floating>Beschreibung, {{textLeft}} Zeichen übrig</ion-label>
      <ion-textarea rows="10" maxLength="500" type="text" [(ngModel)]="animal.description" (ionChange)='textCounter()' autocomplete="on" autocorrect="on"></ion-textarea>
    </ion-item>
  </ion-list>
  
  <!--
  <ion-buttons text-center>
    <button ion-button full color="lGrey" (click)="getPicture()">Stelle ein Foto rein</button>
    <button ion-button full color="lGrey" (click)="addAnimal(animal)">Speichern</button>
  </ion-buttons>-->
</ion-content>

<!--
<ion-footer>
  <ion-fab bottom center>
    <button ion-fab color="brownLike">Foto</button>
    <ion-fab-list side="right">
      <button ion-fab icon-only color="lGrey" (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab icon-only color="lGrey" (click)="getPicture()">
        <ion-icon name="images"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-footer>-->

