
<ion-header>

  <ion-navbar color="brownLike">
    <ion-title>Mein Tier vermitteln</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="animal.animalName" autocomplete="on" autocorrect="on"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label floating>Alter</ion-label>
      <ion-input type="number" [(ngModel)]="animal.animalAge"></ion-input>
    </ion-item>
    <ion-item>
      <rl-tag-input
        [(ngModel)]="species"
        [addOnBlur]="false"
        [autocomplete]="true"
        [autocompleteItems]="preparedTags"
        placeholder="Tierart"
        autocomplete="on" autocorrect="on">
      </rl-tag-input>
    </ion-item>
    <ion-item>
      <rl-tag-input
        [(ngModel)]="breed"
        [addOnBlur]="false"
        placeholder="Rasse"
        autocomplete="on" autocorrect="on">
      </rl-tag-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Beschreibung, {{textLeft}} Zeichen übrig</ion-label>
      <ion-textarea rows="10" maxLength="500" type="text" [(ngModel)]="animal.description" (ionChange)='textCounter()' autocomplete="on" autocorrect="on"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-slides pager="true" effect="slide" zoom="true" *ngIf="imageShow">
    <ion-slide *ngFor="let image of imageArray">
      <img  [src]="_DomSanitizer.bypassSecurityTrustUrl(image)" alt="kein Bild"/>
    </ion-slide>
  </ion-slides>
  <ion-buttons text-center>
    <button ion-button full color="lGrey"(click)="getPicture()">Stelle ein Foto rein</button>
    <button ion-button full color="lGrey" (click)="addAnimal(animal)">Speichern</button>
  </ion-buttons>
</ion-content>
