
<ion-header>

  <ion-navbar>
    <ion-title>Suche</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="scroll-content; content-size"> 
  <ion-list scroll="false">
    <!--<ion-item>
      <ion-label floating>Tierart</ion-label>
      <ion-input type="text" [(ngModel)]="animalSpecies" autocomplete="on" autocorrect="on"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Rasse</ion-label>
      <ion-input type="text" [(ngModel)]="animalBreed" autocomplete="on" autocorrect="on"></ion-input>
    </ion-item>-->
    <ion-item class="item">
      <ion-label>Tierart</ion-label>
      <ion-select [(ngModel)]="species" (ionChange)="onSelectChange()">
        <ion-option *ngFor="let species of speciesArray" value={{species}}>{{species}}</ion-option>
      </ion-select>    
    </ion-item>
    <ion-item class="item">
      <ion-label>Rasse</ion-label>
      <ion-select [(ngModel)]="breed" multiple="true">
        <ion-option *ngFor="let breed of breedArray" value={{breed}}>{{breed}}</ion-option>
      </ion-select>    
    </ion-item> 
    <ion-item class="name-item">
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="animalName" autocomplete="on" autocorrect="on"></ion-input>
    </ion-item>
    <ion-buttons>
        <button ion-button full color="brownLike" (click)="search()">suchen</button>
        <button ion-button full color="brownLike" (click)="cancel()">abbrechen</button>
    </ion-buttons>
  </ion-list>
  

</ion-content>
