page-popover {
    ion-list{
        padding-top: 5vh !important;
    }
    .scroll-content {
        overflow: hidden;
      }

    .item{
        margin-top:10px !important;
    }

    .name-item{
        top: 0px !important;
        margin-bottom:10px !important;
    }
}
